<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="stringConexion" value="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD2C2014;User ID=gd;Password=gd2014;Trusted_Connection=False;" />
    <add key="Año" value="2014"/>
    <add key="Mes" value="12"/>
    <add key="Dia" value="01"/>
  </appSettings>
</configuration>